<div class="container">
  <div class="opening-section">
    <h1>Countries</h1>
    <p>Choose your countries to see the current updates.</p>
  </div>

  <div class="mx-auto mb-3">
    <div class="form-group">
      <label for="country" class="form-label mt-4">Select Country</label>
      <select name="" id="country" class="form-select" #select (change)="onSelectChange(select.value)">
        <option *ngFor="let country of countries" value={{country}}>{{country}}</option>
      </select>
    </div>
  </div>

  <app-dashboard-card [totalActive]="totalActive$" [totalConfirmed]="totalConfirmed$" [totalDeath]="totalDeath$" [totalRecovered]="totalRecovered$"></app-dashboard-card>

</div>