<div class="ui inverted dimmer active" *ngIf="loading">
  <div class="ui text loader">Loading</div>
</div>

<div class="container">
  <div class="opening-section">
    <h1>Countries</h1>
    <p>Choose your countries to see the current updates.</p>
  </div>

  <div class="mx-auto mb-3">
    <div class="form-group">
      <label for="country" class="form-label mt-4">Select Country</label>
      <select name="" id="country" class="form-select" #select (change)="onSelectChange(select.value)">
        <option *ngFor="let country of countries" value={{country}}>{{country}}</option>
      </select>
    </div>
  </div>

  <app-dashboard-card [totalActive]="totalActive$" [totalConfirmed]="totalConfirmed$" [totalDeath]="totalDeath$" [totalRecovered]="totalRecovered$"></app-dashboard-card>

  <div class="row">
    <div class="col-md-6">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Country</th>
            <th scope="col">Cases</th>
            <th scope="col">Date</th>
          </tr>
        </thead>
        <thead *ngFor="let item of selectedCountry, index as i">
          <tr>
            <th scope="col">{{i+1}}</th>
            <th scope="col">{{item.country}}</th>
            <th scope="col">{{item.cases}}</th>
            <th scope="col">{{item.date}}</th>
          </tr>
        </thead>
      </table>
    </div>
    <div class="col-md-6">
      <google-chart
        [type]="chart.LineChart" 
        [data]="chart.data" 
        [columns]="chart.columnNames" 
        [options]="chart.options" 
        [width]="chart.width"
        [height]="chart.height">
      ></google-chart>
    </div>
  </div>

  <!-- <div class="row" *ngIf="datatable[0]">
    <div class="col-md-6">
      <google-chart
        [type]="chart.PieChart"
        [data]="datatable"
        [columns]="chart.columnNames"
        [options]="chart.options"
        [height]="chart.height"
        style="width: 100%;"
      ></google-chart>
    </div>
  </div> -->
</div>