<div class="main">
  <div class="row cards-section">
    <div class="col-md-3">
      <div class="card border-secondary mb-3" style="max-width: 20rem;">
        <h2 class="card-header">Total Confirmed</h2>
        <div class="card-body">
          <h4 class="card-title">Number of confirmed cases</h4>
          <p class="card-text">{{totalConfirmed}}</p>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card border-danger mb-3" style="max-width: 20rem;">
        <h2 class="card-header">Total Deaths</h2>
        <div class="card-body">
          <h4 class="card-title">Number of dead cases</h4>
          <p class="card-text">{{totalDeath}}</p>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card border-success mb-3" style="max-width: 20rem;">
        <h2 class="card-header">Total Recovered</h2>
        <div class="card-body">
          <h4 class="card-title">Number of recovered cases</h4>
          <p class="card-text">{{totalRecovered}}</p>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card border-warning mb-3" style="max-width: 20rem;">
        <h2 class="card-header">Total Active</h2>
        <div class="card-body">
          <h4 class="card-title">Number of active cases</h4>
          <p class="card-text">{{totalActive}}</p>
        </div>
      </div>
    </div>

  </div>
</div>