<div class="ui inverted dimmer active" *ngIf="loading">
  <div class="ui text loader">Loading</div>
</div>

<div class="container">
  <div class="opening-section">
    <h1>COVID-19 TRACKER</h1>
    <p>
      Nullam quis risus eget <a href="#">urna mollis ornare</a> vel eu leo. Cum
      sociis natoque penatibus et magnis dis parturient montes, nascetur
      ridiculus mus. Nullam id dolor id nibh ultricies vehicula.
    </p>
  </div>

  <app-dashboard-card
    [totalActive]="totalActive$"
    [totalConfirmed]="totalConfirmed$"
    [totalDeath]="totalDeath$"
    [totalRecovered]="totalRecovered$"
  ></app-dashboard-card>

  <div class="content">
    <legend class="mt-4">Filtering the result (only countries which have more than 2000 cases will be listed)</legend>
    <fieldset class="form-group">
      <div class="form-check">
        <label class="form-check-label" for="c">
          <input type="radio" #inputC value="c" (click)="updateChart(inputC.value)" class="form-check-input" name="optionsRadios" id="c"  checked="">
          Confirmed cases
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label" for="d">
          <input type="radio" #inputD value="d" (click)="updateChart(inputD.value)" class="form-check-input" name="optionsRadios" id="d" >
          Dead cases
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label" for="r">
          <input type="radio" #inputR value="r" (click)="updateChart(inputR.value)" class="form-check-input" name="optionsRadios" id="r" >
          Recovered cases
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label" for="a">
          <input type="radio" #inputA value="a" (click)="updateChart(inputA.value)" class="form-check-input" name="optionsRadios" id="a" >
          Active cases
        </label>
      </div>
    </fieldset>

    <div class="row">
      <div class="col-md-6">
        <google-chart
          [type]="chart.PieChart"
          [data]="chart.data"
          [columns]="chart.columnNames"
          [options]="chart.options"
          [height]="chart.height"
          style="width: 100%;"
        ></google-chart>
      </div>

      <div class="col-md-6">
        <google-chart
          [type]="chart.LineChart"
          [data]="chart.data"
          [columns]="chart.columnNames"
          [options]="chart.options"
          [height]="chart.height"
          style="width: 100%;"
        ></google-chart>
      </div>
    </div>
  </div>

</div>
